---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
ColumnLimit: 110
IncludeCategories:
  - Regex: '<[[:alnum:]_]+>'
    Priority: -6
  - Regex: '<[[:alnum:]._\/]+>'
    Priority: -5
  - Regex: '<[[:alnum:]._]+>'
    Priority: -4
  - Regex: '<[[:alnum:].\/]+>'
    Priority: -3
  - Regex: '"[[:alnum:]._]+"'
    Priority: -1
  - Regex: '.*'
    Priority: -2
...
