[submodule "thirdparty/godot-cpp"]
	path = thirdparty/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "thirdparty/smarcar_emul"]
	path = thirdparty/smarcar_emul
	url = https://github.com/ItJustWorksTM/SmartcarEmul.git
