# Intellij
.idea

# CMake
cmake-build-*/

# SMCE
.cmaw

# Godot
project/.import
project/gdnative/lib
project/share/RtResources
project/share/version.txt
godot.log
*.png~
.import/
export.cfg

# Mono-specific ignores
.mono/
data_*/

# Build related directories
build
# Translations
*.translation


