[Desktop Entry]
Version=1.0
Name=SMCE-Godot
GenericName=SMartcar Emulator
Comment=SMartCarEmul with Godot
TryExec=smce_gd
Exec=smce_gd
Keywords=Arduino
Terminal=false
Type=Application
Categories=Development;Education;
